/* main navigation header element (nav) */

/* fold-out menu, when clicking hamburger nav button */
.fold-out-menu {
  position: absolute;
  width: 100vw;
  right: 0;
  top: 78px;
  padding-top: 3rem;
  max-width: 400px;
  animation: fold-out-menu 0.5s ease-in-out 0s 1 normal none;
  /* max width of menu */

  /* New width of smaler screens */
  @media screen and (min-width: 768px) {
    width: 40vw;
  }
}
/*fold-out-steps menu*/
.fold-out-steps {
  position: absolute;
  width: 100vw;
  right: 0;
  top: 78px;
  padding-top: 3rem;
  max-width: 400px;
  animation: fold-out-menu 0.5s ease-in-out 0s 1 normal none;
  z-index: 1;
  /* max width of menu */

  /* New width of smaler screens */
  @media screen and (min-width: 768px) {
    width: 40vw;
  }
}

/* fold out menu transition */
@keyframes fold-out-menu {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* grey out div */
.grey-out {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; /* Make sure the grey-out div is on top of other elements */
}


/* pink dash in navbar list */
.pink-line {
  width: 15%;
  align-items: center;
  height: 2px;
  background-color: #FF00FF;
  margin-bottom: 1rem;
  margin: 0 auto;
}


/* hamburger nav button specified */
#menu-button {
  min-width: 30px;
  min-height: 30px;
}
/* font awesome icons inside header */
.fas.fa-times, .fas.fa-bars, .fas.fa-plus, .fas.fa-user {
  font-size: 24px
}

