// Theme colors
$black: #000000;
$white: #f1f0ed;
$pear: #b7debd;
$forest: #4b6455;
$pebble: #f1f0ed;
$pebble300: #FBFBFB;
$mint: #dbeede;
$clay: #a5b1aa;
$sand: #e4e1db;
$flamingo: #fac0b1;
$melon: #fcdfd8;
$loli: #ff00ff;
$leather: #7c3647;

// Pear (darker shades than the default)
$pear800: #62965F;
$pear900: #4F7C4B;

// Clay (darker shades than the default)
$clay800: #505B55;
$clay600: #8D9992;

// Hoover btn bg color
$hover-btn: #3C5D3C;

// Danger color
$danger: #C0392B;
$danger-hover: #A93226;