// Theme colors
$black: #333333;
$white: #f1f0ed;
$pear: #b7debd;
$forest: #4b6455;
$pebble: #f1f0ed;
$mint: #dbeede;
$clay: #a5b1aa;
$sand: #e4e1db;
$flamingo: #fac0b1;
$melon: #fcdfd8;
$loli: #ff00ff;
$leather: #7c3647;