// Description: Error box styling
.error-box {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: 2px solid #EF4444;
    background-color: #FEE2E2;
    color: #B91C1C;
    padding: 0.5rem;
  }
  