  /* 
  :: grey out div  ::after the fold out menu is opened
  */
  .grey-out {
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0; /* Make sure the grey-out div is on top of other elements */
  }

  @media (min-width: 768px) {
    .grey-out {
      top: 5rem;
    }
  }