/* pink dash in navbar list */
.pink-line {
  width: 15%;
  align-items: center;
  height: 2px;
  background-color: #ff00ff;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.line-small {
  width: 35px;
}
