.btn-primary {
  border-radius: 3px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.375rem 1.5rem;
  text-align: center;
  width: 100%;
}

.btn-primary:hover {
  background-color: $hover-btn;
  transition: background-color 0.2s ease-in-out;
}

// btn forest, icons and text white
.btn-forest {
  background-color: $forest;
  color: white;

  // icons inside button
  .fas.fa-plus,
  .fas.fa-edit {
    font-size: 1rem;
    color: white;
  }
}

.btn-margin {
  margin: 0.5rem 0rem 1rem 0rem;
}

// btn danger (ico white)
.btn-danger {
  background-color: $danger;
  color: white;
}

.btn-danger:hover {
  background-color: $danger-hover;
  transition: background-color 0.2s ease-in-out;
}

.btn-margin-top {
  margin-top: 0.5rem;
}

// pagination button
.container-pagination  {
  display: flex;
}

.container-pagination > button {
  margin: 0px 10px;
}

// form shift buttons
.container-flex  {
  display: flex;
  margin: 1.2rem 0rem 0.8rem 0;
}

.tab {
  margin-right: 1rem;
}

.tab.active {
border-bottom: 2px $loli solid;
font-weight: 600;
}

.back-container {
  margin-top: 1rem;

  .back-btn {
    text-decoration: underline;
    letter-spacing: 0.5px;
  }

  .back-btn:hover {
    color: $forest;
    transition: color 0.2s ease-in-out;
  }
}
