// Container for cirles with data, index.vue
.container-circle {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

// Circle component with styling
.content-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: 185px;
  height: 185px;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 820px) {
    margin: 2rem;
  }
}

// circles with different border colors
.circle-br-pear {
  border: solid 1px $pear;
}

.circle-br-loli {
  border: solid 1px $loli;
}

.circle-br-clay {
  border: solid 1px $clay;
}

// p tag inside circles
.p-circle {
  font-weight: 700;
  font-size: 1.5rem;
}

.circle-bg-sand {
  background-color: $sand;
}


// circle for profile initials
.circle-profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sand;
  width: 175px;
  height: 175px;
  border-radius: 50%;

  border: solid 10px $white;
  top: -5.5rem;
}
