// Description: Styling for the success box
.success-box {
  border: 1px solid;
  border-width: 2px;
  background-color: #dcfce7;
  border: solid 1px #22c55e;
  color: #22543d;
  padding: 0.5rem;
  margin-bottom: 0.5rem;

  @media screen and (max-width: 768px) {
    max-width: 300px;
  }
}

.error-box {
    border: 1px solid #ef4444;
    border-width: 2px;
    background-color: #fee2e2;
    color: #b91c1c;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  
    @media screen and (max-width: 768px) {
      max-width: 300px;
    }
  }
  
