// Main block //
.profile-section-block {
  padding: 2rem 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// div for hero-img, placed in component @ProfileHeroImg.vue
.profile-hero {
  width: 100vw;
}

// set color $forest on text located in variables.scss
.forest {
  color: $forest;
}

// img class, images located in component @ProfileHeroImg.vue
.profile-hero-img {
  width: 100%;
  max-height: 500px;
  min-height: 220px;
  object-fit: cover;
}
// user info top section
.user-info {
  background-color: $white;
  padding: 5.7rem 0rem 2.5rem 0rem;
  position: relative;
}

// Container for cirles with data, @SummaryCirclesProfile.vue
.container-circle-profile {
  display: flex;
  flex-direction: column;
}

// section of circles with profile stats
.profile-sum-circle {
  background-color: $sand;
}

// Circle component, index.vue
.circle-profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sand;
  width: 175px;
  height: 175px;
  border-radius: 50%;

  border: solid 10px $white;
  top: -5.5rem;
}

.content-circle-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: 185px;
  height: 185px;
  padding: 2rem;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 820px) {
    margin: 2rem;
  }
}

// svg icon in profile stats section
.foot-ico {

  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

// section with weekly stats for profile
.week-stats {
  background-color: $clay;
}
