// Main block //
.section-block {
  padding: 5rem 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // svg icon
  .homepage-svg {
    margin-bottom: 1.5rem;
  }
}

// Section block for step count index.page//
.steps-left {
  padding: 3rem 0;
  background-color: $white;

  p {
    margin-bottom: 1rem;
  }

  .confetti-h2 {
    position: relative;
  }

  .confetti-icon {
    position: absolute;
    top: -0.5rem;
    right: -1.2rem;
  }
}

// Section block for percentage index.page//
.section-percentage {
  background-color: $sand;

  p {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  // progress bar
  .progress {
    width: 65%;
    border-radius: 10px;
    border: solid 1px;
    height: 1.2rem;

    @media screen and (max-width: 768px) {
      width: 75%;
    }
  }

  .progress::-webkit-progress-value {
    background-color: $loli;
    border-radius: 10px;
  }

  .progress::-webkit-progress-bar {
    background-color: $black;
    border-radius: 10px;
  }
}

// Section block for goal index.page//
.section-pear {
  background-color: $pear;
}

// Section block for goal progress index.page//
.section-mint {
  background-color: $mint;
}

// Section block for goal progress index.page//
.section-sand {
  background-color: $sand;
}

// Section block forest
.section-forest {
  background-color: $forest;
}

.section-big-bg-clay {
  background-color: $clay;
  padding: 6rem 0rem;
}

// CUSTOM: user info top section
.user-info {
  background-color: $white;
  padding: 5.7rem 0rem 2.5rem 0rem;
  position: relative;
}