.success-box {
    margin-top: 1rem;
    border: 1px solid;
    border-width: 2px;
    background-color: #DCFCE7;
    border: solid 1px #22C55E;
    color: #22543D;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

}