

.add-steps-form {
    &__submit {
        .fas.fa-plus {
            font-size: 18px;
            
        }
    }
}



.add-steps-form-container {
    border: solid red 1px;
}

.add-steps-form {
    border: solid blue 1px;
}