/* fold-out menu, when clicking hamburger nav button */
.fold-out-menu {
  background-color: $sand;
  position: absolute;
  width: 100vw;
  right: 0;
  top: 75px;
  padding-top: 3rem;
  max-width: 400px;
  animation: fold-out-menu 0.5s ease-in-out 0s 1 normal none;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 1;
  /* max width of menu */

  /* New width of smaler screens */
  @media screen and (min-width: 768px) {
    width: 40vw;
  }
}

.nav-links {
  display: block;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 1.5rem;
}

.nav-links:hover {
  color: $loli;
  transition: ease-in-out 0.2s;
}

.nav-logout {
  @extend .nav-links;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.menu-text {
  display: none;
  /* on big screens show text, on smal dont show text  */
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.menu-foldouts {
  display: flex;
  gap: 1.5rem;
  place-self: center;
}

/* fold out menu transition */
@keyframes fold-out-menu {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
