// Description: This file contains the styling for the header boxes
.main-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0.8rem 2rem;
  background-color: $sand;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  /* div aroind profile icon */
  .profile-container {
    display: flex;
    flex-direction: column;
    place-self: center;
    align-items: center;
    justify-content: space-between;
  }

  /* main logo inside header*/
  .walkit-logo {
    place-self: center;
    align-self: center;
    margin: 0;
    svg {
      height: 3rem;
    }
  }

  // /* profile icon inside header */
  .user-circle {
    border-radius: 50%;
    background-color: $black;
    color: $white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 12px;
    }
  }

  // styling of hamburger nav and add button for steps in navbar
  .BtnHeader {
    height: 30px;
    width: 30px;
  }

  /* font awesome icons inside header */
  .fas.fa-times {
    font-size: 27px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
    .walkit-logo {
      svg {
        height: 5rem;
      }
    }
  }
}
